body {
    font-size: 25px;
    text-align: center;
    margin: 0;
}

.header {
    background-color: #ffe9d6;
   
}

.nav-bar {
    position: relative;
}

.ems-logo {
    position: absolute;
    top: 30px;
    left: 60px;
}

nav {
    display: inline-block;
    margin: 50px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    color: black;
}

.cart {
    position: absolute;
    top: 30px;
    right: 100px;
    background-color: #ff9a3d;
    color: #fff;
    border-radius: 40px;
    font-size: 30px;
    height: 60px;
    width: 100px;
}

.cart-logo {
   position: absolute;
   top: 5px;
   left: 10px;
  
}

.cart-counter {
    position: absolute;
    top: -30px;
    right: 10px; 
}

.intro {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 50px;
}

h1 {
   font-size: 70px;
   text-align: justify;
   line-height: 1.5;
   flex: 1;
   color: #ff7a00;
   margin: 0;
}

.hero-image {
    flex: 1;  
}

.intro-button {
    width: 30%;
    height: 60px;
    margin: 0 0 50px 0;
    background-color: #ff9a3d;
    color: #fff;
    border-color: transparent;
    border-radius: 10px;
    font-size: 20px;
}

.about {
    background-color: #000;
    color: #fff;
    padding: 20px 220px;
}

.products-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.product {
    padding: 5px;
    margin: 50px 0;
    position: relative;
}

.product-button {
    background-color: #ff7a00;
    color: #000;
    width: 301px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border-color: transparent;
}

.footer {
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    
   
}

/* java script styling */

.clicked {
    background-color: #ffcd9e;
    color: #000;
    width: 301px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border-color: transparent;
}

.image-price {
    margin: 0 60px;
    
}

.image-price:hover .product-image {
    opacity: 0.1;
    
}

.price-tag {
    display: none;
}

.image-price:hover .price-tag {
    display: block;
    color: #000;
    position:absolute;
    top: 120px;
    left: 160px;
    z-index: 2;
}


/* Cart Styling*/

.cart-checkout {
    width: 50%;
    background-color: #fff;
    display: none;
    position: absolute;
    top: 40px;
    left: 300px;
    z-index: 2;
}



.cart-checkout input{
    background-color: #ffe9d6;
    width: 80%;
    height: 40px;
    margin: 10px;
}

.cart-btn-cs {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #ffe9d6;
    margin: 5px;
    font-size: 20px;
}

.cart-btn-co {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #ff9a3d;
    color: #fff;
    font-size: 20px;
    margin: 5px;
}

.item-remove-btn {
    background-color: #ffcd9e;
    border-color: transparent;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    font-size: 15px;
    position: absolute;
    top: 20px;
    right: -100px;
}

.qt-btn {
    width: 30px;
    height: 20px;
    background-color: #ff9a3d;
    border-color: transparent;
    border-radius: 5px;
    display: inline-block;
}

.cart-items-heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin: 20px;
    position: relative;
    
}

.display-error {
    color: #ff0000;
    font-size: 20px;
}


/*Summary*/

.show-summary {
    width: 50%;
    background-color: #ffe9d6;
    display: none;
    position: absolute;
    top: 40px;
    left: 300px;
    z-index: 3;
}

.show-summary img {
    width: 50%;
}

.show-summary button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #ff7a00;
    color: #ffff;
    margin-top: 20px;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.sum-items-heading{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.name-style {
    color: #ff7a00 ;
}

.sum-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
}

